.SearchBar{
    margin-top: 2rem;
    width: 70%;
    display: flex;
    height: 42px;
}

.titleSupplier{
    font-weight: bold;
    font-size: 42px;
    text-align: left;
    margin-top: 2rem;
    letter-spacing: var(--unnamed-character-spacing-0);
    font-family: normal normal bold 54px/64px SF Compact;
}

.grid{
    display: grid;
    gap: 1;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 250px;
}

.Selector{
    width: 10rem;
    height: 3rem;
    border-radius: 12px;
    border-width: 3px;
 
}

.dropDown{
    width: 100%;
}

@media screen and (max-width: 1050px) {
    
    
.grid{
    display: grid;
    gap: 1;
    grid-template-columns: repeat(2, 1fr);
}

.dropDown{
    width: 25%;
}

.SearchBar{
    margin-top: 2rem;
    width: 40%;
    display: flex;
    height: 42px;
}

.Selector{
    width: 5rem;
    height: 3rem;
    border-radius: 12px;
    border-width: 3px;
 
}
}

@media screen and (max-width: 750px) {
    
    
    .grid{
        display: grid;
        gap: 1;
        grid-template-columns: repeat(1, 1fr);
    }
}